numpy
pandas
matplotlib
h5py
scipy==1.4.1
scikit-learn==0.22.1
scikit-optimize==0.7.4
mne==0.18
tensorflow==2.4.0
comet_ml==2.0
joblib==0.13.2
pylsl
pyserial
bokeh==2.0.2
PyQt5
pyqtgraph
keras-tuner==1.0.1
tensorflow-addons